name: odoo_hr
description: A new Flutter project.

version: 1.0.0+1

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^0.1.2
  font_awesome_flutter: 8.5.0
  odoo_api: ^1.0.4
  shared_preferences: ^0.4.3

assets:
  - .env


dev_dependencies:
  flutter_test:
    sdk: flutter
  


flutter:

  uses-material-design: true
